<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User page</title>
</head>
<body>

<div class="container-fluid d-flex h-100 flex-column">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <div>
            <h4 class="navbar-text font-weight-bolder text-white" th:utext="${user.firstname}">...</h4>
            <h4 class="navbar-text text-white">with roles:</h4>
            <h4 class="navbar-text font-weight-bolder text-white" th:utext="${user.showRoles()}">...</h4>
        </div>
        <a class="text-white-50" href="#" th:href="@{/logout}">Logout</a>
    </nav>

    <div class="row pt-5 bg-light flex-fill d-flex justify-content-start">
        <div class="col col-md-2 bg-white portlet-container portlet-dropzone">
            <div class=" mt-5 d-inline-block"></div>
            <div class="list-group">

                <a th:href="@{/user/info}" class="list-group-item active">User</a>
                <a class="list-group-item"
                   th:href="@{/admin/users}"
                   th:if="${add} ">Admin</a>
            </div>
        </div>
        <div class="col col-md-10 portlet-container portlet-dropzone">
            <div class="mt-5 d-inline-block" style="width: 100%">
                <h2 class="text-left font-weight-bold">User information-page</h2>
                <div class="card">
                    <div class="card-header font-weight-bolder">
                        About user
                    </div>
                    <div class="card-body">
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Login</th>
                                <th scope="col">Firstname</th>
                                <th scope="col">Lastname</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${user}">
                                <td th:utext="${user.id}"></td>
                                <td th:utext="${user.getLogin()}"></td>
                                <td th:utext="${user.getFirstname()}"></td>
                                <td th:utext="${user.getLastname()}"></td>
                                <td th:utext="${user.getEmail()}"></td>
                                <td th:utext="${user.showRoles()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>

